In [1]:
import pandas as pd
import warnings
import os
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
parent_dir = os.path.dirname(os.getcwd())
data_path = os.path.join(parent_dir, 'data', 'dataset')

In [3]:
dataset = pd.read_csv(os.path.join(data_path, 'dataset.csv'))
print(dataset.shape)

(1312248, 15)

In [9]:
champs = dataset.CHAMPION.unique().tolist()
roles = dataset.ROLE.unique().tolist()
print("Total champs: ", len(champs))
print("Total roles: ", len(roles))

Total champs:  156
Total roles:  5

In [12]:
extracted = dataset.copy()
extracted['champ_role'] = extracted['CHAMPION'].str.cat(extracted[['ROLE']], sep='_')
extracted.champ_role.nunique()

772

In [10]:
# champ in role distribution
counts = dataset.groupby(['CHAMPION', "ROLE"]).size().reset_index(name="count")
counts_champs = counts.CHAMPION.unique().tolist()

    CHAMPION     ROLE  count
0     Aatrox   bottom     17
1     Aatrox   jungle     76
2     Aatrox   middle    394
3     Aatrox      top   8076
4     Aatrox  utility      4
..       ...      ...    ...
767     Zyra   bottom     74
768     Zyra   jungle     14
769     Zyra   middle    154
770     Zyra      top     12
771     Zyra  utility   3444

[772 rows x 3 columns]