In [1]:
import pandas as pd
import warnings
import os
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
parent_dir = os.path.dirname(os.getcwd())
data_path = os.path.join(parent_dir, 'data', 'dataset')

In [3]:
dataset = pd.read_csv(os.path.join(data_path, 'dataset.csv'))
print(dataset.shape)

(1312248, 15)

In [7]:
dataset.CHAMPION.value_counts().reset_index(name='count')

           index  count
0         Ezreal  35848
1         LeeSin  30547
2          Kaisa  28225
3         Thresh  26337
4          Viego  22823
..           ...    ...
151      Skarner   1812
152       Illaoi   1732
153  AurelionSol   1716
154       Yorick   1702
155        Amumu   1595

[156 rows x 2 columns]