In [1]:
import pandas as pd
import warnings
import os
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
parent_dir = os.path.dirname(os.getcwd())
data_path = os.path.join(parent_dir, 'data', 'dataset')

In [3]:
dataset = pd.read_csv(os.path.join(data_path, 'dataset.csv'))
print(dataset.shape)

(1312248, 15)

**CHAMPION WINRATE**

In [4]:
champ_dataset = dataset.copy()
champ_win_df = pd.get_dummies(champ_dataset, columns=['WIN'])

In [5]:
champ_win_df = champ_win_df[['CHAMPION', 'WIN_True','WIN_False']].reset_index(drop = True)

In [6]:
champ_win_df.head()

   CHAMPION  WIN_True  WIN_False
0  Kassadin         0          1
1     Fiora         1          0
2      Yone         0          1
3     Corki         1          0
4     Kaisa         0          1

In [7]:
champ_wr = champ_win_df.groupby(['CHAMPION']).apply(lambda x: (x['WIN_True'].sum()/(x['WIN_True'].sum() + x['WIN_False'].sum() )*100)).reset_index(name='WINRATE')

In [8]:
champ_wr.describe()

          WINRATE
count  156.000000
mean    49.993992
std      1.492514
min     44.232422
25%     49.041620
50%     49.950828
75%     50.999936
max     53.788164

In [9]:
champ_wr.to_csv(os.path.join(data_path, 'champ_wr.csv'), index = False)